/* Override default Bootstrap style */
.popover-content {
    color: red;
}

/* Override default Bootstarp style */
.form-inline .form-control {
    width: 100%;
}

.dataTables_filter {
    display:none;
}